# Ignore some static files and directories.
/.buildpath
/.project
/.settings
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/workforce
!/modules/workforce/*
/themes/*
!/themes/admin_default/css/workforce.css
!/themes/admin_default/js/workforce.js
!/themes/admin_default/js/jquery.sticky.js
!/themes/admin_default/js/notify.min.js
!/themes/admin_default/images/workforce
!/themes/admin_default/images/workforce/*
!/themes/admin_default/modules/workforce
!/themes/admin_default/modules/workforce/*
!/themes/default/css/workforce.css
!/themes/default/js/workforce.js
!/themes/default/js/workforce-*.js
!/themes/default/js/jquery.simple.timer.js
!/themes/default/images/workforce
!/themes/default/images/workforce/*
!/themes/default/modules/workforce
!/themes/default/modules/workforce/*
/.project
/vendor/
/.gitattributes
/composer.json
/composer.lock
/composer.phar
/error.php
